---
http_interactions:
- request:
    method: get
    uri: http://mhs.fluxx.dev:3000/api/rest/v1/form
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 3ebe66ed7e358bc0df884596a4b9795ad223c8cea1ed06bcf27f88662bf3f32a
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"bee61b8be9ffbfe7bdcd3cb068756155"'
    body:
      encoding: UTF-8
      string: '{"records":{"form":[{"id":1,"created_at":"2012-04-08T16:57:47Z","updated_at":"2013-07-26T23:34:48Z"},{"id":2,"created_at":"2012-04-08T16:57:47Z","updated_at":"2012-04-08T16:57:47Z"},{"id":3,"created_at":"2012-04-08T16:57:47Z","updated_at":"2012-04-08T16:57:47Z"},{"id":4,"created_at":"2012-04-08T16:57:47Z","updated_at":"2012-04-08T16:57:47Z"},{"id":5,"created_at":"2012-04-08T16:57:47Z","updated_at":"2012-04-08T16:57:47Z"},{"id":6,"created_at":"2012-04-08T16:57:47Z","updated_at":"2012-04-08T16:57:47Z"},{"id":7,"created_at":"2012-04-08T16:57:47Z","updated_at":"2012-04-08T16[...]
