---
http_interactions:
- request:
    method: get
    uri: http://mhs.fluxx.dev:3000/api/rest/v1/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 3ebe66ed7e358bc0df884596a4b9795ad223c8cea1ed06bcf27f88662bf3f32a
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"86e0fe018080ce9c38b77ff87d6481bf"'
    body:
      encoding: UTF-8
      string: '{"records":{"user":[{"id":242310,"created_at":"2015-11-18T18:20:11Z","updated_at":"2015-11-18T18:20:11Z","login":"jason2015","first_name":"Michael","last_name":"Jackson","middle_initial":"","personal_street_address":"","personal_postal_code":"","work_phone":"","contig_id":"3587","primary_organization":[{"id":10049832,"created_at":"2015-11-18T18:13:52Z","updated_at":"2015-11-18T18:13:52Z","name":"Michael","address":"144
        Broadway St","address_2":"","city":"Los Angleas","geo_state":[{"id":3980,"created_at":"2011-07-23T07:11:55Z","updated_at":"2011-07-23T07:11:55Z","name":"California","abbreviation":"CA"}],"country":[{"id":250,"created_at":"2011-07-23T07:08:34Z","updated_at":"2011-07-23T07:08:34Z","name":"United
        States","abbreviation":"US"}],"postal_code":"19999","phone":"","contig_id":"1908"}]}]},"total_pages":1,"total_entries":1,"current_page":1,"per_page":25}'
  recorded_at: Sat, 19 Dec 2015 23:51:01 GMT
recorded_with: VCR 3.0.0
